In [ ]:
import pandas as pd
import sqlite3
import bar_chart_race as bcr

In [83]:
conn = sqlite3.connect('db/streams.db')

In [84]:
df = pd.read_sql_query("SELECT * FROM streams", conn)

In [85]:
df['date'] = pd.to_datetime(df['date'])
df['track_name'] = df['track_name'].str.replace(r'\s*\(.*?\)+', '', regex=True)

In [86]:
pivot_df = df.pivot(index='date', columns='track_name', values='streams').fillna(0)

In [87]:
pivot_df

track_name,dodger blue,gloria,gnx,heart pt. 6,hey now,luther,man at the garden,peekaboo,reincarnated,squabble up,tv off,wacced out murals
date,,,,,,,,,,,,
2024-11-24 12:00:00,8202797.0,6500377.0,6715945.0,7985142.0,10017261.0,13445510.0,10204164.0,7652459.0,9691716.0,14352087.0,11290136.0,13215828.0
2024-11-25 12:00:00,11828058.0,9503810.0,9395535.0,11450292.0,14146094.0,20244810.0,14155906.0,10848431.0,13738503.0,20551300.0,17248409.0,18139417.0
2024-11-26 12:00:00,0.0,9503810.0,9395535.0,11450292.0,14146094.0,20244810.0,14155906.0,10848431.0,13738503.0,20551300.0,17248409.0,18139417.0
2024-11-27 12:00:00,15719884.0,12669604.0,12121435.0,15113169.0,18546207.0,28008499.0,18198188.0,14230569.0,18011252.0,27425411.0,24018690.0,23151555.0

In [88]:
bcr.bar_chart_race(
    df=pivot_df,
    filename='barchart_race.mp4',  # Save to a file or use None to display in a Jupyter Notebook
    title='Sample Bar Chart Race'
)

/Users/anthonydang/Documents/projects/rapmetrics/.venv/lib/python3.10/site-packages/bar_chart_race/_make_chart.py:889: FutureWarning:

Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

/Users/anthonydang/Documents/projects/rapmetrics/.venv/lib/python3.10/site-packages/bar_chart_race/_make_chart.py:286: UserWarning:

set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.

/Users/anthonydang/Documents/projects/rapmetrics/.venv/lib/python3.10/site-packages/bar_chart_race/_make_chart.py:287: UserWarning:

set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.